*{
    margin: 0px;
    font-family: 'Nanum Gothic', sans-serif;
}
html{
    margin: 0px;
    width: 100%;
    height: 100%;
}
body{
    background-color: #f4f4f4;
    color: #313638;
}
nav{

    background: linear-gradient(-45deg, #57cfb0, #2ab5d3);
    height: 60px;
    position: sticky;
    top: 0px;
    box-shadow: 0px 1px 4px black;
    color: black
}
#body-container{
    width: 90%;
    max-width: 1500px;
    margin: auto;
    background-color: white;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
button{
    padding: 7px;
    border: none;
    background-color: #2ab5d3;
    box-shadow: 1px 1px 4px black;
    cursor: pointer;

}

#headline{
    background-color:rgb(42, 60, 77);
    color: #f4f4f4;
    text-align: center;
    padding: 20px;
}

#header-description{
    font-weight: lighter;
    font-style: italic;
    letter-spacing: 2px;
}

#nav-ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

#nav-li{
    float: left;
}

#nav-li a{
        display: block;
        color: black;
        text-align: center;
        padding: 20px;
        text-decoration: none;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    height: auto;
    

}

.projects-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: auto;

}

.project{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
    height: auto;

}

.project-info{
    max-width: 700px; 
    width: 100%; 
    padding: 20px;
}

.project-info h3{
    font-size: 24px;
}

.project-info p{
    font-size: 18px;
}


.project-reverse{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
    height: auto;

}

@media screen and (max-width: 1283px) {
    .project-reverse{
        flex-direction: column-reverse;
        align-items: center;
        padding: 20px 0px;
    }

    .project-info, .project{
        padding: 20px 0px;
    }
  }

.card{
    width: 300px;
    height: 300px;
    margin: 10px;
    background-color: #f4f4f4;
    box-shadow: 0px 0px 8px rgb(157, 157, 157);
    border-radius: 4px;
}
.card-header{
    height:50px;
    background-color: rgb(42, 60, 77);
    color: #f4f4f4;
    /* color: rgb(42, 60, 77); */
    border-radius: 4px 4px 4px 4px;
    text-align: center;
    margin: 5px;
}
.card-header h1{
    padding:13px;
    font-size: larger;
}
.card-body{
    height: 195px;
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-body ul{
    padding-left: 0px;
    
}

.card-body li{
    list-style-type: none;
    padding: 10px 0px;
    
}

.card-footer{
    height: 50px;
    text-align: center;
    padding: 5px;
    font-size: large;
}

.card-footer button{
    width: 100%;
    padding: 10px;
    box-shadow: none;
    border-radius: 4px;
    background-color: rgb(5, 93, 199);
    color: white;
    font-weight: bold;
    transition: .4s;
}

.card-footer button:hover{
    background-color: rgb(20, 115, 231);
}

.svg-item{
    width: 90%;
    height: 90%;
    display: block;
    margin: auto;
    padding: 20px 0px;
}

.section-title{
    text-align: right;
    padding: 20px;
    color: rgb(121, 121, 121);
    background-color: #f4f4f4;
}

.section-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.section-short{
    display:flex;
    align-content: center;
}

#section-img{
    width: 450px;
    background-size: cover;
    margin: auto;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 8px #aaa;
    display: flex;
    justify-content: space-evenly;
}

.section-long{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.section-description{
    width:300px;
    padding: 20px;
    border-radius: 4px;
}

.section-description h2{
    color: black;
    width: 300px;
    font-size: 22px;
    text-align: center;
}



#react-symbol{
    animation: react 60s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
    align-items: center;
}
    
#leaf{
    animation: mongo 5s infinite linear;
    transform-origin: bottom;
    transform-box: fill-box;
    align-items: center;
}
#brackets{
    animation: node 2s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
    align-items: center;
}

#left-wheel, #right-wheel{
    animation: react 1s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
    align-items: center;
}
#bottle{
    animation: tilt 3s infinite linear;
    transform-origin: bottom;
    transform-box: fill-box;
    align-items: center;
}
#box{
    animation: tilt2 3s infinite linear;
    transform-origin: bottom;
    transform-box: fill-box;
    align-items: center;
}
#cart{
    animation: cart-bounce 3s infinite linear;
    transform-origin: bottom;
    transform-box: fill-box;
    align-items: center;
}
@keyframes cart-bounce{
    0%{
        transform: translate(0px, 0px);
    }
    7%{
        transform: translate(0px, -20px);
    }
    14%{
        transform: translate(0px, 0px);
    }
}
@keyframes tilt2{
    0%{
        transform: rotateZ(0deg);
    }
    7%{
        transform: rotateZ(-15deg);
    }
    14%{
        transform: rotateZ(0deg);
    }
}
@keyframes tilt{
    0%{
        transform: rotateZ(0deg);
    }
    5%{
        transform: rotateZ(-15deg);
    }
    14%{
        transform: rotateZ(0deg);
    }
}

@keyframes node{
    0%{
        transform: scale(1)
    }
    5%{
        transform: scale(1)
    }
    10%{
        transform: scale(1.2)
    }
    15%{
        transform: scale(1)
    }
    100%{
        transform: scale(1)
    }
}


@keyframes mongo{
    0%{
        transform: rotateZ(0deg);
    }
    25%{
        transform: rotateZ(15deg);
    }
    75%{
        transform: rotateZ(-15deg);
    }
    100%{
        transform: rotateZ(0deg);
    }
}


@keyframes react{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}
@media screen and (max-width: 1255px) {
    .section-short, .section-long, #section-img{
        width: 90%;
    }
    .section-title{
        text-align: center;
    }
    #nav-ul{
        display: flex;
        justify-content: space-evenly;
    }

}

@media screen and (max-width: 839px) {
    .section-long{
        text-align: center; 
    }
    .section-short{
        width: 0px;
        height: 0px;
        visibility: hidden;
    }
    #section-img{
        width: 0px;
        height: 0px;
        visibility: hidden;
    }
    

}
